/* Importando Fonte Gamer */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #180418;
  color: #ffffff;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container principal */
.container {
  overflow: hidden;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

/* Cabeçalho */
.cabecalho {
  margin-bottom: 30px;
}

.cabecalho img {
  width: 70px;
  height: 70px;
  border: 0px;
  padding: 0px;
}

.titulo {
  font-family: 'Press Start 2P', cursive;
  color: #00d9ff;
  text-shadow: 0px 0px 10px #00d9ff;
}

.feedback-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}


/* Seções */
.conteudo {
  padding: 20px;
}

/* Botões */
button {
  background: #6a0dad;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
  background: #9400d3;
  box-shadow: 0px 0px 10px #9400d3;
}

#camera--sensor{
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

/* Responsividade dos botões */
.botoes-camera {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo-preview{
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

@media(min-width: 768px) {
  .botoes-camera {
    flex-direction: row;
  }
}

/* Input */
#photo-title {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  background: #1f1f2e;
  color: #ffffff;
  border: 2px solid #00d9ff;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  text-align: center;
  margin: 10px auto;
}

#photo-title::placeholder {
  color: #cccccc;
}

#photo-title:focus {
  border-color: #9400d3;
  box-shadow: 0px 0px 10px #9400d3;
}

/* Câmera */
#camera {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#camera--view {
  width: 70%;
  border: 2px solid #00d9ff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.5);
}

/* Galeria */
#photo-gallery-container {
  text-align: start;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 30px;
}

@media(min-width: 768px) {

  .titulo {
    font-size: 50px;
  }

  .container {
    width: 80%;
  }
}

iframe{
  width: 100%;
}

.photo-preview{
  border-radius: 10px; ;
  margin-top: 10px ;
  max-width: 100%;
}

/* Rodapé */
.rodape {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 40px;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 0px 0px 10px #00d9ff;
}